<%- include('../partials/header') %>


<h3>Add New Blood Sugar Reading</h3>
    <form action = '/bloodsugar%>' method = 'POST'>


        <label> Date
            <input type = 'Date' name = 'date' >
        </label></br>

        <!-- <label> Post-prandial Reading (2h after a meal)
            <input type = 'Number' name = 'postprandialReading' >
        </label></br> -->



        <input type = 'submit'>
    </form>


 <%- include('../partials/footer') %>
