<%- include('../partials/header') %>


<h3>Add New Blood Sugar Reading</h3></br>
    <form action = '/bloodsugar%>' method = 'POST'>


        <label> Date
            <input type = 'Date' name = 'day' >
        </label></br>

    </br>

        <input type = 'submit' value = 'Add'class = "btn btn-outline-secondary btn-med">
    </form>

    


 <%- include('../partials/footer') %>




