<%- include('../partials/header') %>


<h3>Add New Blood Sugar Reading</h3>
    <form action = '/bloodsugar%>' method = 'POST'>


        <label> Date
            <input type = 'Date' name = 'day' >
        </label></br>



        <input type = 'submit'>
    </form>


    


 <%- include('../partials/footer') %>
