<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chart.Js with MongoDB & Node.Js</title>
  <style>
    body {font-family: Lato;}
    a { text-decoration: none; color: #777;}
  </style>
</head>
<body>
  <canvas id="myChart"></canvas>

  
  <!-- Start Js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>


  <script>
const chart = document.getElementById('myChart')

const labels = [
    'January',
    'February',
    'february',
    'february',
    'March',
    'April',
    'May',
    'June',
  ];
  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      fill:false,
      borderColor: 'rgb(255, 99, 132)',
      showLine: false, 


      data: [0, 10, 5, 2, 20, 30, 45],
    }]
  };



let lineChart = new Chart(chart, {
    type:'line', 
    data, 
    options:{
      showLine:false
    }
})

console.log(chart)
  </script>



</body>
</html>
